{% extends 'base.html' %}
{% load static %}

{% block title %}FloraCore - Registro{% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <section class="panel-decorativo">
            <div class="brand-header">
                <div class="logo-text">FloraCore</div>
            </div>
             
            <div class="content-center">
                <img src="{% static 'img/planta-login.png' %}" class="logo-center" alt="Logo central de FloraCore">
                <h2 class="slogan">La mejor opción para tus plantas</h2>
            </div>
        </section>

        <form action="{% url 'signup' %}" method="POST" class="form-register">
            {% csrf_token %}
            
            <h1 class="titulo-principal">Registro</h1>
      
            <div class="form-content">
                {% if error %}
                    <p class="error-general">{{ error }}</p>
                {% endif %}
                
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password1">Contraseña</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error">{{ form.password1.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password2">Confirmar Contraseña</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="error">{{ form.password2.errors.0 }}</div>
                    {% endif %}
                </div>
            
                <button type="submit" class="btn-register">Registrarse</button>
            </div>
            
            <div class="opciones">
                <p class="login-text">¿Ya tienes una cuenta? <a href="{% url 'signin' %}" class="link-opcion">Iniciar sesión</a></p>
            </div>
        </form>
    </div>
    <img src="{% static 'img/nashe.png' %}" class="flora" alt="Liana decorativa">
{% endblock %}
