{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenHouse - Inicio de Sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <section class="panel-decorativo">
            <div class="brand-header">
                <div class="logo-text">FloraCore</div>
            </div>
    
            <div class="content-center">
            <img src="{% static 'img/logo.png' %}" class="logo-center" alt="Logo central de FloraCore">
        
                <h2 class="slogan">La mejor opción para tus plantas</h2>
            </div>
        </section>

        <form action="{% url 'signin' %}" method="POST" class="form-login">
            
            {% csrf_token %}
            
            <h1 class="titulo-principal">Inicio de Sesión</h1>
            
            <div class="form-content">
                {% if error %}
                    <p class="error-general">{{ error }}</p>
                {% endif %}

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>Nombre De Usuario:</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <p class="error">{{ form.username.errors.0 }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                                                                </svg>Contraseña:</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <p class="error">{{ form.password.errors.0 }}</p>
                    {% endif %}
                </div>

                <input type="submit" value="Ingresar" class="btn-login">
            </div>

            <div class="opciones">
                <a href="{% url 'password_reset' %}" class="link-opcion">¿Olvidaste tu contraseña?</a>
                <span>|</span>
                <a href="{% url 'signup' %}" class="link-opcion">Crear una cuenta</a>
            </div>
        </form>
    </div>
    <img src="{% static 'img/nashe.png' %}" class="flora" alt="Liana decorativa">
</body>
</html>