body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4faf5;
    background-image: url("/static/img/fondologin.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.plantita {
    position: absolute;
    top: -8.4%;
    left: 24%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    max-width: 90%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

h1 {
    color: #2f7a4e;
    font-size: 26px;
    margin-bottom: 0.5rem;
}

h2 {
    color: #3f8c5d;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.form-group label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #bcd9c7;
    border-radius: 8px;
    background-color: #eaf4ed;
    margin-top: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #3C5A40;
    box-shadow: 0 0 5px rgba(60, 90, 64, 0.2);
}

button {
    width: 100%;
    padding: 0.6rem;
    background-color: #2f7a4e;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

button:hover {
    background-color: #256440;
}

.login-text {
    margin-top: 1rem;
    font-size: 13px;
    color: #555;
    text-align: center;
}

.login-text a {
    color: #2f7a4e;
    text-decoration: none;
    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .plantita {
        width: 50px;
        height: 50px;
        left: 27%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    .form-group input {
        font-size: 0.95rem;
    }

    button {
        font-size: 0.95rem;
    }

    .register-text {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    form {
        padding: 1rem;
    }

    .plantita {
        width: 55px;
        height: 55px;
        top: -55px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px;
    }

    .form-group input {
        font-size: 0.85rem;
    }

    button {
        font-size: 0.85rem;
    }

    .register-text {
        font-size: 11px;
    }
}
