{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenHouse - Home</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">GreenHouse</div>
        <nav class="menu">
            <a href="">Funciones</a>
            <a href="">Equipos</a>
            <a href="">Contactanos</a>
        </nav>
        <button class="user-btn" onclick="window.location.href='{% url 'signin' %}'">Sign In</button>
    </header>

    <section class="hero">
        <h1>¡Bienvenido GreenHouse!</h1>
        <p>¿Querés adentrarte al mundo del cultivo y no tenés un espacio adecuado?<br>
        Te presentamos GreenHouse, tu invernadero inteligente para cualquier tipo de ambiente.</p>
        <img alt="Imagen de bienvenida">
    </section>

    <section class="features">
        <h2>Section heading</h2>
        <div class="cards">
            <div class="card">
                <img  alt="Cambio Climático">
                <h3>Cambio Climático</h3>
                <p>La planta que se cultive no se va a ver afectada por el cambio climático.</p>
            </div>
            <div class="card">
                <img alt="Cambio de Temporada">
                <h3>Cambio De Temporada</h3>
                <p>El cambio de temporada de diferentes plantas o cultivos no va a afectar.</p>
            </div>
            <div class="card">
                <img alt="Autonomía">
                <h3>Autonomía</h3>
                <p>No va a haber preocupación al olvidarse de hacerle mantenimiento al cultivo.</p>
            </div>
        </div>
    </section>
</body>
</html>
