<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ form.email }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="password1">Contraseña</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="password2">Confirmar Contraseña</label>
            {{ form.password2 }}
        </div>
    </div>

    <button type="submit">Sign up</button>
</form>